---
layout: default
---
  <div class="container">
    <div class="row commit">
      <div class="node">
        <div class="big content center-block blue-border">
          <img src="/assets/img/face.jpg">
        </div>
      </div><!--
   --><div class="message">
        <h2>Hey! I'm James. <span class="typer"></span></h3>
      </div>
    </div>

    <a name="about"></a>
    <div class="row commit">
      <div class="node">
        <div class="content center-block blue-border blue-bg">
          <i class="octicon octicon-git-commit"></i>
        </div>
      </div><!--
   --><div class="message">
        <h3>About</h3>
      </div>
    </div>
      <div class="branch">
        <div class="row commit">
          <div class="node">
            <div class="content center-block red-border red-bg">
              <i class="fa fa-info-circle"></i>
            </div>
          </div><!--
       --><div class="message">
            <div class="message-contents">
              <p>Fourth year computer science student at the beautiful University of British Columbia in Vancouver, BC. </p>

              <p>Loves video games, electronics, computers, and generally anything that goes bleep or bloop. Also a pretty big fan of playing guitar, <span class="strike">long walks on the beach,</span> and Scott Pilgrim.</p>

              <p>Writes pretty great code.</p>
            </div>
          </div>
        </div>

        <div class="row commit">
          <div class="node">
            <div class="content center-block red-border red-bg">
              <i class="fa fa-code"></i>
            </div>
          </div><!--
       --><div class="message">
            <div class="message-contents">
              <p>Proficient in JavaScript (including ES6) and related technologies including Node.js, AngularJS, HTML5 and CSS3.</p>
              <p>Experienced in C#, Python, Java, C/C++, SQL, MongoDB, Ruby and ARM/NEON Assembly.</p>
              <p>Well versed in Git, Windows, Linux, Mac OS X, and the Adobe Creative Suite.
              </p>
            </div>
          </div>
        </div>

        <div class="row commit konami">
          <div class="node">
            <div class="content center-block red-border red-bg">
              <i class="fa fa-music"></i>
            </div>
          </div><!--
       --><div class="message">
            <div class="message-contents">
              <p>
                1st Place, BronyCAN 2015 Karaoke Contest<br/>
                Princess of Karaoke (1st Place), Equestrian Idol BABSCon 2017
              </p>
            </div>
          </div>
        </div>

        <div class="row commit">
          <div class="node">
            <div class="content center-block red-border red-bg">
              <i class="fa fa-trophy"></i>
            </div>
          </div><!--
       --><div class="message">
            <div class="message-contents">
              <p>
                1st Place, Telus/IEEE Datathon 2016<br/>
                Best Use of RapidAPI, Dubhacks 2016<br/>
                1st Place, Google Games 2016<br/>
                Judge's Choice, 2nd Place, UBC ePortfolio Competition 2016<br/>
                Best Overall Use of Microsoft Tech, 2nd Place, Dubhacks 2015
              </p>
            </div>
          </div>
        </div>
      </div>

    <a name="portfolio"></a>
    <div class="row commit">
      <div class="node">
        <div class="content center-block blue-border blue-bg">
          <i class="octicon octicon-git-commit"></i>
        </div>
      </div><!--
   --><div class="message">
        <h3>Portfolio</h3>
      </div>
    </div>
    <div class="branch">
    {% for thing in site.posts | sort: 'date' %}
      <div class="row commit">
        <a href="{{ thing.url }}">
          <div class="node">

            {% if thing.bgcolour and thing.bordercolour %}
            <div class="content center-block" style="background: #{{thing.bgcolour}}; border-color: #{{thing.bordercolour}}">
            {% else %}
            <div class="content center-block red-border red-bg">
            {% endif %}

              {% if thing.icon %}
                <img src="/assets/img/{{thing.short}}/{{thing.icon}}"/>
              {% elsif thing.faicon %}
                <i class="fa fa-{{thing.faicon}}"></i>
              {% elsif thing.categories contains "code" %}
                <i class="fa fa-code"></i>
              {% elsif thing.categories contains "site" %}
                <i class="fa fa-globe"></i>
              {% elsif thing.categories contains "work" %}
                <i class="fa fa-briefcase"></i>
              {% elsif thing.categories contains "school" %}
                <i class="fa fa-graduation-cap"></i>
              {% else %}
                <i class="fa fa-cube"></i>
              {% endif %}

            </div>
          </div>
          <div class="message">
            <div class="message-contents">
              <div class="col-xs-12 col-sm-9 portfolio">
                <h3>{{ thing.title }}</h3>
                <h4 class="visible-xs">{{ thing.date | date: "%B %Y"}}</h4>
                <p style="margin-bottom: 0;">{{ thing.desc }}</p>
                {% if thing.tech %}
                <p style="margin-bottom: 0; font-size: 0.8em; font-style: italic;">{{ thing.tech | array_to_sentence_string }}</p>
                {% endif %}
              </div>
              <div class="hidden-xs col-sm-3 text-right">
                {{ thing.date | date: "%B %Y"}}
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>

    <a name="contact"></a>
    <div class="row commit">
      <div class="node">
        <div class="content center-block blue-border blue-bg">
          <i class="octicon octicon-git-commit"></i>
        </div>
      </div><!--
   --><div class="message">
        <h3>Contact</h3>
      </div>
    </div>

    <div class="branch">
      <div class="row commit">
        <a href="https://github.com/yeah568" target="_blank">
          <div class="node">
            <div class="content center-block github">
              <i class="fa fa-github"></i>
            </div>
          </div><!--
       --><div class="message">
            <h3>GitHub</h3>
          </div>
        </a>
      </div>

      <div class="row commit">
        <a href="https://ca.linkedin.com/in/jliu97" target="_blank">
          <div class="node">
            <div class="content center-block linkedin">
              <i class="fa fa-linkedin"></i>
            </div>
          </div><!--
       --><div class="message">
            <h3>LinkedIn</h3>
          </div>
        </a>
      </div>

      <div class="row commit">
        <a href="mailto:james@jamesliu.ca">
          <div class="node">
            <div class="content center-block red-border red-bg">
              <i class="fa fa-envelope"></i>
            </div>
          </div><!--
       --><div class="message">
            <h3>Email</h3>
          </div>
        </a>
      </div>
      <div class="row commit">
        <a href="/resume.pdf" target="_blank">
          <div class="node">
            <div class="content center-block red-border red-bg">
              <i class="fa fa-file-text"></i>
            </div>
          </div><!--
       --><div class="message">
            <h3>Resume</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="row commit">
      <div class="node">
        <div class="content center-block blue-border blue-bg">
          <i class="octicon octicon-git-commit"></i>
        </div>
      </div><!--
   --><div class="message">
        <h3>Initial commit</h3>
      </div>
    </div>
  </div>

  <script>
    $(function(){
        $(".typer").typed({
            strings: ["I make things.", "I develop websites.", "I create experiences.", "I build awesome stuff.", "I write software."],
            typeSpeed: 0,
            backDelay: 2000,
            loop: true,
            showCursor: false
      });
      $('nav').removeClass('dark');
    });

    $(window).scroll(function() {
      if ($(document).scrollTop() > 10) {
        $('nav').addClass('dark');
      } else {
        $('nav').removeClass('dark');
      }
    });
  </script>
